@charset "UTF-8";

/* //////////////////////////////////////////////////////////메인페이지(인트로) 시작/////////////////////////////////////////////////////////// */

body {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 1920px;
    height: 5600px;
    z-index: -1;
    overflow-x: hidden;
}

#background-wrap {
    background: #00b4ff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 2200px;
    padding: 0;
    margin: 0;
    z-index: -1;
}

.x1 {
    position: fixed;
    transform: scale(2.5);
    z-index: 9;
}

.x2 {
    position: fixed;
    transform: scale(3);
    z-index: 9;
}

.x3 {
    position: fixed;
    transform: scale(1.2);
    z-index: 7;
}

.x4 {
    position: fixed;
    transform: scale(1.4);
    z-index: 1;
}

.x5 {
    position: fixed;
    transform: scale(0.5);
    z-index: 1;
}

.x6 {
    position: fixed;
    transform: scale(1.5);
    z-index: 7;
}

.x7 {
    position: fixed;
    transform: scale(0.4);
    z-index: 1;
}

.cloud {
    background: linear-gradient(white 33.3%, lightgray 66.6%);
    border-radius: 200px;
    position: relative;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.5);
    height: 240px;
    width: 700px;
}

.cloud:after,
.cloud:before {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.cloud:after {
    border-radius: 200px;
    height: 200px;
    left: 100px;
    top: -100px;
    width: 200px;
}

.cloud:before {
    border-radius: 400px;
    width: 360px;
    height: 360px;
    right: 100px;
    top: -180px;
}

#sun {
    width: 50%;
    top: 1450px;
    left: 27%;
    position: absolute;
    z-index: 2;
}

#sunArm {
    width: 50%;
    top: 1450px;
    left: 27%;
    position: absolute;
    z-index: 1;
    transform: rotate(-10deg);
}

/* 메인페이지 맵용 구름 */

@-webkit-keyframes sky {
    from {
        left: 110%;
    }
    to {
        left: -30%;
    }
}

@keyframes sky {
    from {
        left: 110%;
    }
    to {
        left: -30%;
    }
}

#cld8 {
    position: fixed;
    transform: scale(0.2);
    top: 150px;
    left: 80%;
    z-index: 500;
    opacity: 0.4;
    display: 'none';
    animation: sky 20s infinite;
    -webkit-animation: sky 20s infinite;
}

#cld9 {
    position: fixed;
    transform: scale(0.15);
    top: 450px;
    left: 80%;
    z-index: 500;
    opacity: 0.4;
    display: 'none';
    animation: sky 30s infinite;
    -webkit-animation: sky 30s infinite;
}

#cld10 {
    position: fixed;
    transform: scale(0.12);
    top: 750px;
    left: 80%;
    z-index: 500;
    opacity: 0.4;
    display: 'none';
    animation: sky 25s infinite;
    -webkit-animation: sky 25s infinite;
}

#cld11 {
    position: fixed;
    transform: scale(0.2);
    top: 200px;
    left: 80%;
    z-index: 500;
    opacity: 0.4;
    display: 'none';
    animation: sky 40s infinite;
    -webkit-animation: sky 40s infinite;
}

#cld12 {
    position: fixed;
    transform: scale(0.15);
    top: 600px;
    left: 80%;
    z-index: 500;
    opacity: 0.4;
    display: 'none';
    animation: sky 50s infinite;
    -webkit-animation: sky 50s infinite;
}

#cld13 {
    position: fixed;
    transform: scale(0.12);
    top: 150px;
    left: 80%;
    z-index: 500;
    opacity: 0.4;
    display: 'none';
    animation: sky 100s infinite;
    -webkit-animation: sky 100s infinite;
}

#cld14 {
    position: fixed;
    transform: scale(0.2);
    top: 50px;
    left: 80%;
    z-index: 500;
    opacity: 0.4;
    display: 'none';
    animation: sky 17s infinite;
    -webkit-animation: sky 17s infinite;
}

#cld15 {
    position: fixed;
    transform: scale(0.15);
    top: 500px;
    left: 80%;
    z-index: 500;
    opacity: 0.4;
    display: 'none';
    animation: sky 70s infinite;
    -webkit-animation: sky 70s infinite;
}

/* //////////////////////////////////////////////////////////메인페이지(인트로)끝/////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////메뉴바////////////////////////////////////////////////////////////////// */

header {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 999;
}

header > div.container {
    position: relative;
    width: 100%;
    height: 66px;
    /* display: none; */
    /* 현재 메뉴바는 감춰진 상태 */
    z-index: 6000;
    /* 11시추가요소 */
}

.sr-only {
    position: absolute;
    left: -9999px;
}

.n-fixed {
    position: fixed;
    margin: 0 auto;
    top: 0;
    opacity: 0.9;
}

:root {
    --progress-bar-height: 4px;
    --progress-bar-color: gainsboro;
    --progress-bar-value-color: dodgerblue;
    --progress-bar-value: 20%;
}

progress {
    height: 4px;
}

article {
    position: relative;
    /* padding: 10px; */
    /* 1시04분 수정 : 네비바 높이조정 */
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
    z-index: 1000;
    height: 0;
    /* 1시04분 수정 : 네비바 높이조정 */
}

.article-title {
    position: sticky;
    top: 0;
    padding-bottom: 24px;
}

.article-title > h1 {
    margin-bottom: 0;
    padding: 18px 0 18px 0;
    font-size: 25px;
    background-color: white;
    text-align: center;
}

.progress-wrapper {
    position: relative;
    /* 11시추가요소 */
    position: absolute;
    top: 39px;
    /* 1시04분 수정 : 네비바 높이조정 */
    width: 700px;
}

.progress-label {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
    display: none;
}

progress {
    appearance: none;
    position: absolute;
    width: 100%;
    height: var(--progress-bar-height);
    background-color: var(--progress-bar-color);
    border: none;
}

.ProgressBar {
    margin-left: 600px;
}

-moz-progress-bar {
    background-color: var(--progress-bar-value-color);
}

-webkit-progress-bar {
    background-color: var(--progress-bar-color);
}

-webkit-progress-value {
    background-color: var(--progress-bar-value-color);
}

-ms-fill {
    background-color: var(--progress-bar-value-color);
}

/* Form Progress */

.progressGnb {
    width: 1000px;
    margin: 20px auto;
    margin-left: 450px;
    text-align: center;
}

.progressGnb .circle,
.progressGnb .bar {
    display: inline-block;
    /* background: #fff; */
    /* 11시추가요소 */
    width: 40px;
    height: 40px;
    border-radius: 40px;
    /* border: 1px solid #d5d5da; */
    /* 11시추가요소 */
}

.progressGnb .bar {
    position: relative;
    width: 80px;
    height: 6px;
    margin: 0 -5px 17px -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.progressGnb .circle .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #fff;
    font-size: 17px;
    background: #cfdbe6;
}

.progressGnb .circle .label:hover {
    cursor: pointer;
}

.progressGnb .circle .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
}

/* Done / Active */

.progressGnb .bar.done,
.progressGnb .circle.done {
    /* background: #eee; */
    /* 11시추가요소 */
}

.progressGnb .bar.active {
    background: linear-gradient(to right, #eee 40%, #fff 60%);
}

.progressGnb .circle.done .label {
    color: #fff;
    background: #cfdbe6;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.progressGnb .circle.done .title {
    color: #444;
}

.progressGnb .circle.active .label {
    color: #fff;
    background: #5781a7;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.progressGnb .circle.active .title {
    color: #5781a7;
}

/* //////////////////////////////////////////////////////////메뉴바끝/////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////메뉴바끝/////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////메인페이지(맵)시작/////////////////////////////////////////////////////////// */

.roadImg {
    border: 0;
    padding: 0;
    top: 2200px;
    width: 1920px;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 11;
}

#char {
    position: absolute;
    left: 120px;
    top: 2280px;
    height: 350px;
    z-index: 100;
}

/* 버튼 */

#clock {
    position: absolute;
    width: 100px;
    height: auto;
    top: 2400px;
    left: 800px;
    z-index: 50;
}

#school {
    position: absolute;
    width: 500px;
    height: auto;
    top: 3700px;
    left: 1000px;
    z-index: 50;
}

#rock {
    position: absolute;
    top: 50%;
    width: 300px;
    height: auto;
    top: 4000px;
    left: 688px;
    z-index: 150;
}

#tree {
    position: absolute;
    width: 200px;
    height: auto;
    top: 4389px;
    left: 215px;
    z-index: 50;
}

#mailbox {
    position: absolute;
    width: 400px;
    height: auto;
    top: 4947px;
    left: 1510px;
    z-index: 50;
}

#clock:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

#school:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

#tree:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

#mailbox:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* 
#rock:hover {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 100px;
cursor:url("../media/icons/hammer.png"), default; 
} */

/* //////////////////////////////////////////////////////////메인페이지(맵)끝/////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////기본셋팅T(팀)/////////////////////////////////////////////////////////// */

/* 클릭유도 추가 영역 */

#clickClock {
    position: absolute;
    width: 100px;
    height: auto;
    top: 2400px;
    left: 750px;
    z-index: 50;
    display: none;
}

/* 클릭유도 추가 영역 */

/* 팝업박스 전체페이지 (주변회색포함)*/

#popupBoxT {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* 리얼팝업부분 화이트 */

#realSpaceT {
    background-color: #fefefe;
    margin: 4% auto 4% auto;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    overflow-x: hidden;
}

/* 클로즈버튼이 포함된 부분 */

.imgcontainerT {
    text-align: center;
    position: relative;
}

/* 클로즈버튼 셋팅 */

#closeT {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

#closeT:hover,
#closeT:focus {
    color: red;
    cursor: pointer;
}

#popupBoxG {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

/* 리얼팝업부분 화이트 */

#realSpaceG {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%;
}

/* 클로즈버튼이 포함된 부분 */

.imgcontainerG {
    display: flex;
    align-items: center;
    z-index: 1000;
    background-color: #0f4c81;
}

/* 클로즈버튼 셋팅 */

#closeG {
    margin-left: auto;
    padding-right: 25px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    z-index: 2500;
}

#closeG:hover,
#closeG:focus {
    color: red;
    cursor: pointer;
}

/* 팝업 헤더에서 사용되는 폰트 */

/* 팝업 헤더  */

#chartPopUp_SR h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: #0f4c81;
    color: #fefefe;
    padding: 5px 0px 40px 0px;
    z-index: 2000;
}

#chart-container {
    position: relative;
}

#popupBoxf {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* 리얼팝업부분 화이트 수정불가*/

#realSpacef {
    background-color: #fefefe;
    margin: 4% auto 4% auto;
    border: 1px solid #888;
    width: 888px;
    height: 678px;
    position: relative;
}

/* 클로즈버튼 셋팅 */

#closef {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

#closef:hover,
#closef:focus {
    color: red;
    cursor: pointer;
}

/* 팝업박스 전체페이지 (주변회색포함)*/

#popupBoxPf {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* 리얼팝업부분 화이트 */

#realSpacePf {
    margin: 4% auto 4% auto;
    border: 0.5px solid #888;
}

.pf {
    position: fixed;
    width: 780px;
    height: 790px;
    left: 623px;
    background-color: #0f4c81;
}

/* 클로즈버튼이 포함된 부분 */

.imgcontainerPf {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/* 클로즈버튼 셋팅 */

#closePf {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

#closePf:hover,
#closePf:focus {
    color: red;
    cursor: pointer;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.part1 * {
    z-index: 2000;
}

/* ///////////////////////////////////////////////////////////기본셋팅T(팀) 끝/////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////TimeLine 시작///////////////////////////////////////////////////////////// */

.timeline {
    font: normal 16px/1.5 'Helvetica Neue', sans-serif;
    /* background: #456990; */
    color: #fff;
    padding-bottom: 50px;
    background-color: white;
}

.timeline h1 {
    margin: 0 auto;
    text-align: center;
    background: #0f4c81;
    padding: 100px 0;
    font-size: 2.5rem;
}

.timeline ul {
    background: white;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #0f4c81;
    color: #778899;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #cfdbe6;
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #cfdbe6 transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #cfdbe6;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #0f4c81;
}

/* ––––––––––––––––––––––EFFECTS–––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #cfdbe6;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

/* –––––––––––––GENERAL MEDIA QUERIES––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #0f4c81 transparent transparent;
    }
}

/* ///////////////////////////////////////////////////////////end of TimeLine///////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////Form 시작 by MR////////////////////////////////////////////////////////// */

.mainMR {
    display: flex;
    margin: 70px 50px 50px 70px;
}

#middle1MR {
    margin-left: 50px;
    margin-right: 50px;
}

#openMR {
    position: relative;
    top: 0;
    left: 0;
    display: inline;
}

#closeMR {
    position: absolute;
    top: 100px;
    left: 100px;
    display: inline;
    /* display: none; */
}

#middle2MR {
    top: 100px;
    margin-right: 50px;
    /* position: absolute; */
}

#middle3MR {
    top: 100px;
}

#oneMR {
    background-color: #cfdbe6;
    height: 451px;
    width: 600px;
    margin-bottom: 30px;
    position: relative;
}

#textMR {
    margin: 30px 80px 80px 80px;
    position: absolute;
    /* font-weight: bold; */
}

#textMR h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: #0f4c81;
    font-family: 'Black Han Sans', sans-serif;
}

#textMR h2 {
    font-size: 1.3em;
    height: 3em;
    color: dimgrey;
    font-style: italic;
    font-family: 'Nanum Gothic', sans-serif;
}

#textMR h3 {
    font-size: 1.1em;
    margin-bottom: 0.5em;
    font-weight: 500;
    font-family: 'Nanum Gothic', sans-serif;
    color: lightslategray;
}

#twoMR {
    /* background-color: darkorchid; */
    height: 80px;
    width: 600px;
}

#twoMR img {
    margin: 10px 0px 0px 45px;
    height: 60px;
}

.contectIconMR {
    display: flex;
    flex-direction: column;
}

#middle3MR img {
    height: 100px;
    margin: 0px 20px 5px 30px;
}

.contectIconMR img:hover {
    opacity: 0.5;
    width: 103px;
    cursor: pointer;
}

#middle3MR h1 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
    text-align: center;
    font-weight: 800;
    font-family: 'Nanum Gothic', sans-serif;
}

/* ///////////////////////////////////////////////////////////end of Form by MR///////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////start portfolio by SH////////////////////////////////////////////////////// */

.pf {
    background-color: #0f4c81;
    margin: 0;
    padding: 0;
    max-width: 650px;
    font-family: 'Nanum Gothic', sans-serif;
}

.pf h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: 'Black Han Sans', sans-serif;
}

.pf h3 {
    font-weight: bold;
    margin: 0;
    margin-top: 5px;
    font-size: 20px;
    color: #0f4c81;
    padding: 5px;
}

.pf p {
    color: #0f4c81;
    margin: 0;
    padding: 5px;
}

.pf-list {
    float: left;
    width: 100%;
}

.pf-list.case {
    width: 25%;
    padding: 1%;
}

.pf-opacity,
.pf-hover-opacity:hover {
    opacity: 0.3;
}

.pf-opacity-off,
.pf-hover-opacity-off:hover {
    opacity: 1;
}

.pfSlides {
    display: none;
    position: relative;
    background-color: white;
    width: 98%;
    padding: 1%;
    margin: 0 auto;
}

.pf video {
    width: 100%;
    margin-bottom: -6px;
}

/* ///////////////////////////////////////////////////////////end of portfolio by SH///////////////////////////////////////////////////// */
